.hero{
    display: flex;
    justify-content: space-between;
}   

.left-h{
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.right-h{
    flex: 1;
    position: relative;
    background-color: #990000;
}
.anuncio{
    margin-top: 4rem;
    background-color: #292626;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.anuncio>span{
    z-index: 2;
}

.anuncio>div{
    position: absolute;
    background-color: #990000;
    width: 5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
}

.hero-text>div:nth-of-type(3){
    font-size: 1rem;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%;
}

.figuras {
    display: flex;
    gap: 2rem;
}
.figuras>div{
    display: flex;
    flex-direction: column;
}
.figuras>div>span:nth-of-type(1) {
    color: white;
    font-size: 2rem;
}

.figuras>div>span:nth-of-type(2) {
    color: gray;
    text-transform: uppercase;
}

.hero-botones {
    display: flex;
    gap: 2rem;
    font-weight: normal;
}

.hero-botones>:nth-child(1){
    color: white;
    background-color: #990000;
    width: 8rem;
}

.hero-botones>:nth-child(2){
    color: white;
    background-color: transparent;
    width: 8rem;
    border: 2px solid #990000;
}

.right-h>.btn{
    position: absolute;
    right: 3rem;
    top: 3rem;
    color: black;
}

.corazon{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: grey;
    width: fit-content;
    padding: 1rem;
    align-items: flex-start;
    border-radius: 5px;
    position: absolute;
    right: 4rem;
    top: 7rem;
}

.corazon>img{
    width: 2rem;
}

.corazon>span:nth-child(2){
    color: darkgray;
}

.corazon>span:nth-child(3){
    color: white;
    font-size: 1.5rem;
}

.hero-imagen {
    position: absolute;
    top: 6rem;
    right: 8rem;
    width: 23rem;
}

.calorias {
    display: flex;
    gap: 2rem;
    background-color: var(--caloryCard);
    border-radius: 5px;
    padding: 1rem;
    width: fit-content;
    position: absolute;
    top: 32rem;
    right: 32rem;
}

.calorias>img {
    width: 3rem;
}

.calorias>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calorias>div> :nth-child(1){
    color: gray;
}

.calorias>div> :nth-child(2){
    color: white;
}

.heroblur{
    width: 22rem;
    height: 30rem;
    left: 0;
  }


@media screen and (max-width: 768px){
    .hero {
        flex-direction: column;
    }
    
    .heroblur{
        width: 14rem;
    }

    .anuncio{
        margin-top: 0;
        font-size: small;
        align-self: center;
        transform: scale(0.8);
    }

    .hero-text{
        font-size: xx-large;
        align-items: center;
        justify-content: center;
    }
    .hero-text > div:nth-of-type(3){
        font-size: small;
        font-weight: 200;
        letter-spacing: 1px;
        text-align: center;
    }

    .hero-botones{
        justify-content: center;
    }

    .figuras > div > span:nth-of-type(1){
        font-size: large;
    }

    .figuras > div > span:nth-of-type(2){
        font-size: small;
    }

    .right-h{
        display: none;
        position: relative;
        background: none;
    }
}